<header>
    <nav>
        <figure>
            <img src="assets/images/logo.jpg" alt="logo"/>
        </figure>
        <ul>
            <li><a href="/index">Accueil</a></li>
            <li><a href="/add-recipe">Ajouter une recette</a></li>
        </ul>
        <form action="/">
            <input type="text" placeholder="Que cherchez vous ?" name="search">
            <button type="submit" ng-click="removeRow()">GO</button>
        </form>
        <figure>
            <img src="assets/images/user.png"/>
            <figcaption>Utilisateur</figcaption>
        </figure>
    </nav>
</header>