@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

$high: 18px;
$normal: 16px;
$medium: 14px;

$black: #000;
$white: #fff;
$lightpink: #f9e9ec;
$pink: #f88dad;
$yellow: #fac748;
$blue-violet: #8390fa;
$blue: #1d2f6f;
$red: red;


section {
    height: 1000px;
    margin: 0 auto;
    background-color: $lightpink;
    font-family: 'Playfair Display', serif;
    padding: 50px 10px;

    @media screen and (max-width: 600px) {
        height: 2000px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;

        h1 {
            color: $blue;
            font-size: $high;
            text-align: center;
        }

        #recipeForm {
            background: $yellow;
            padding: 50px 100px;

            p {
                margin: 30px 0;
            }

            label {
                margin-bottom: 10px;
            }

            input {
                width: 200px;
                padding: 12px 20px;
                margin: 8px 0;
                border-radius: 4px;
            }

            textarea {
                width: 300px;
                height: 200px;
            }
            div {
                display: block;
                margin: 100px auto 0;
                text-align: center;

                button[type=submit] {
                    width: 150px;
                    height: 40px;
                    background: $blue-violet;
                    border-radius: 50px;
                    color: $white;
                    font-size: $medium;
                    cursor: pointer;
                    margin-right: 30px;
                    border: none;
                }
    
                button[type=button] {
                    width: 150px;
                    height: 40px;
                    background: $red;
                    border-radius: 50px;
                    color: $white;
                    font-size: $medium;
                    cursor: pointer;
                    border: none;
                }
    
            }
            
        }
    }
}