//font-size
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

$high: 18px;
$medium: 14px;

//color
$black: #000;
$white: #fff;
$lightpink: #f9e9ec;
$pink: #f88dad;
$yellow: #fac748;
$blue-violet: #8390fa;
$blue: #1d2f6f;


//Nav-Bar

header {
    background-color: $blue;
    color: $white;
    font-family: 'Playfair Display', serif;
    nav {
        position: relative;
        height: 100px;
        figure:first-child {
            img {
                width: 100px;
                height: auto;
                float: left;
            }
        }

        ul {
            position: absolute;
            left: 200px;
            top: 20px;
            @media screen and (max-width: 600px) {
                left: 120px;
                top: 10px;
            }

            li {
                display: inline;
                font-size: $high;
                font-weight: 600;

                @media screen and (max-width: 600px) {
                    display: block;
                    list-style: none;
                }

                a {
                    text-decoration: none;
                    color: $white;
                }
            }

            li:last-child {
                margin-left: 70px;

                @media screen and (max-width: 600px) {
                    margin-left: 0;
                    margin-top: 10px; 
                }
            }
        }

        figure:last-child {
            float: right;
            
            img {
                width: 50px;
            }

            figcaption {
                text-align: center;
            }
        }
    }
}

section {
    height: 1000px;
    margin: 0 auto;
    background-color: $lightpink;
    font-family: 'Playfair Display', serif;
    padding: 50px 10px;

    @media screen and (max-width: 600px) {
        height: 2000px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;

        .filtre {
            border-bottom: 2px solid $pink;
            padding-bottom: 50px;
            
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                label {
                    font-weight: bold;
                    display: block;
                    margin-bottom: 20px;
                }

                label:nth-child(2) {
                    text-align: center;
                }

                p {
                    margin-right: 40px;
                }

                #pseudo {
                    height: 18px;
                    padding: 10px;
                    border: 1px solid #ddd;
                    background: #fff;
                    border-radius: 6px;
                    font-family: 'Playfair Display', serif;
                    color: #888;
                }

                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    padding: 8px 10px;
                    width: 120px;
                    outline: none;
                    border: none;
                    background: $white;
                    color: $blue-violet;
                    position: relative;
                }

                select:after {
                    content: '▼';
                    position: absolute;
                    right: 8px;
                    color: $black;
                    font-size: $high;
                    font-family: 'Playfair Display', serif;
                    pointer-events: none;
                  }

                p:last-child{
                    label:first-child {
                        text-align: center;
                    }

                    label:not(:first-child) {
                        display: inline;
                        font-size: $medium;
                    }

                    input {
                        margin-left: 30px;
                        margin-right: 5px;
                    }

                }
            }
        }

        .content-recette {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 200px;

            .item {
                background-color: $yellow;
                color: $white;
                border: 1px solid $yellow;
                padding: 15px 10px;
                margin-bottom: 50px;

                @media screen and (max-width: 600px) {
                    margin: 20px auto;
                }

                .recette {
                    display: flex;
                    justify-content: space-around;
                }

                img {
                    width: 200px;
                }

                .info-recette {
                    margin: 20px 0;
                }
            }
        }
    }
}

footer {
    bottom: 0;
    background-color: $blue;
    color: $white;
    padding: 30px 10px;

    div {
        text-align: center;

    }
}










